header#main-header {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}